body {
  background-color: #f4f7ff;
}

/* Global classes */
.box {
  border: 1px #ddd solid;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px;
  display: grid;
  grid-gap: 20px;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;
}
